/* header start */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
}
.header__left{
    display: flex;
    gap: 15px;
}
.header__logo {
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}

.header__center {
    width: 40%;
    display: flex;
    align-items: center;
}

.header__input {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 40%;
    border-radius: 25px;
}

.header__input>input {
    flex: 1 1;
    border: none;
    height: 40px;
    border-radius: 30px;
    padding-left: 15px;
}

.header__inputButton {
    width: 50px !important;
    background: rgba(0, 0, 0, 0.1);
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 30px 30px 0;
    padding: 6px;
}

.header__inputButton {
    width: 50px !important;
    background: rgba(0, 0, 0, 0.1);
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 30px 30px 0;
    padding: 6px;
}

.header__mic {
    width: 25px !important;
    height: 25px !important;
    border-radius: 50px;
    margin-left: 20px;
    padding: 10px;
}

.header__mic:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* header end */